{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * attendees plugin for Craft CMS 3.x
 *
 * attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Attendees
 * @since     1.0.0
 */
#}

{% extends "craft-attendees/_layouts/_cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{#{% do view.registerAssetBundle("percipiolondon\\craftattendees\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}#}

{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/craft-attendees/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Attendees | Dashboard" %}


{%- set permittedSites = [] %}

{% for site in craft.app.sites.getAllSites() %}
    {%- set permitted = currentUser.can('editSite:'~site.uid) -%}

    {%- if permitted -%}
        {% set permittedSites = permittedSites|merge([site]) %}
    {% endif %}
{% endfor %}

{% set selectedSite = craft.app.request.getQueryParam('site')|default(permittedSites[0].id ?? '*') %}
{% set selectedTime = craft.app.request.getQueryParam('time')|default('3') %}
{% set settings = craft.app.getPlugins().getPlugin('craft-attendees').getSettings() %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-attendees') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/craftattendees/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}#}

{% set subnav = {
    "dashboard": { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
    "trainings": { label: "Trainings"|t('craft-attendees'), url: url(pluginCpUrl ~ '/trainings') },
    "data-export": { label: "DataExport"|t('craft-attendees'), url: url(pluginCpUrl ~ '/data-export') },

} %}
{% set selectedSubnavItem = 'dashboard' %}

{% set crumbs = [
    { label: "Attendees", url: url(pluginCpUrl) },
    { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
] %}


{# Content that should appear in the page header#}
{% block actionButton %}

    {%- include "craft-attendees/_includes/sites-menu.twig" with {
        baseUrl: pluginCpUrl ~ '/dashboard',
        parameter: 'id'
    } -%}

{% endblock %}

{# The content of the CP Section#}
{% set content %}
    {{ craft.viteattendees.register('/src/js/dashboard.ts', false, scriptTagOptions) }}

    {% if selectedSite == '2' %}
        {% set events = craft.entries.section(settings.eventSection)
            .site('*')
            .anyStatus()
            .all()
        %}
    {% else %}
        {% set events = craft.entries.section(settings.eventSection)
            .siteId(selectedSite)
            .anyStatus()
            .all()
        %}
    {% endif %}

    {% set ids = sort(events, selectedTime) %}

    <div id="dashboard" class="bg-gray-100 p-6 pt-2 -mt-6 -ml-6 relative">

        <header-dashboard>
            {%- include "craft-attendees/_includes/time-menu.twig" with {
                baseUrl: pluginCpUrl ~ '/dashboard',
                parameter: 'id'
            } -%}
        </header-dashboard>
        <stats-dashboard site="{{ selectedSite }}" ids="{{ ids|json_encode }}"></stats-dashboard>

        <div class="block bg-gray-100 w-6 left-full pb-6 top-0 h-full absolute"></div>
        <div class="block bg-gray-100 h-6 top-full left-0 w-full absolute"></div>
    </div>
{% endset %}
