{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * attendees plugin for Craft CMS 3.x
 *
 * attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Attendees
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{#{% do view.registerAssetBundle("percipiolondon\\craftattendees\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}#}

{% import "_includes/forms" as forms %}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/craft-attendees/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Attendees | Dashboard" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-attendees') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/craftattendees/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}#}

{% set subnav = {
    "dashboard": { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
    "trainings": { label: "Trainings"|t('craft-attendees'), url: url(pluginCpUrl ~ '/trainings') },
    "data-export": { label: "DataExport"|t('craft-attendees'), url: url(pluginCpUrl ~ '/data-export') },

} %}
{% set selectedSubnavItem = 'dashboard' %}

{% set crumbs = [
    { label: "Attendees", url: url(pluginCpUrl) },
    { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
] %}

{# Content that should appear in the page header#}
{% block actionButton %}
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    {{ craft.viteattendees.register('/src/js/dashboard.ts', false, scriptTagOptions) }}

{#    <img src="{{ iconUrl }}" height="64" width="64" />#}
    <!--div class="w-full xl:w-3/4">
        <p class="textline">The RSN data engagement module is currently being extended and enhanced to a more robust and versatile platform.<br/><br/>

        Currently this module is in beta phase and undergoing testing. It should not be used for entering final data - any data added during this testing phase will be deleted.<br/><br/>

        Please continue to add / export your data using the existing RSN Data tooling until you are notified that this new platform is ready for use and contains all previously entered data.<br/><br/>

        In the mean time, feel free to test this new area out to see how it will work. </p>
    </div-->

    <div id="dashboard" class="bg-gray-100 p-6 pt-10 -mt-6 -ml-6 relative">
        <stats-figures></stats-figures>

        <div class="block bg-gray-100 w-6 left-full pb-6 top-0 h-full absolute"></div>
        <div class="block bg-gray-100 h-6 top-full left-0 w-full absolute"></div>
    </div>
{% endset %}
