{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * attendees plugin for Craft CMS 3.x
 *
 * attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Attendees
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{#{% do view.registerAssetBundle("percipiolondon\\craftattendees\\assetbundles\\dashboardcpsection\\DashboardCPSectionAsset") %}#}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/craft-attendees/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Attendees | 403" %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-attendees') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/craftattendees/assetbundles/dashboardcpsection/dist', true) ~ '/img/Dashboard-icon.svg' %}#}

{% set crumbs = [
    { label: "Attendees", url: url(pluginCpUrl) },
    { label: "403"|t('craft-attendees'), url: url(pluginCpUrl ~ '/four-o-three') },
] %}

{# The content of the CP Section#}
{% set content %}
    <h2>{{ "403"|t('craft-attendees') }}</h2>

    <p class="textline">I'm sorry but you're not permitted to see this page</p>
{% endset %}
