{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * craft-attendees plugin for Craft CMS 3.x
 *
 * craft-attendees index.twig
 *
 * @author    percipiolondon
 * @copyright Copyright (c) 2021 percipiolondon
 * @link      https://percipio.london
 * @package   Craftattendees
 * @since     1.0.0
 */
#}

{% extends "_layouts/cp" %}
{% import "_includes/forms" as forms %}

{% set scriptTagOptions = {
    'depends': [
        'percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset'
    ],
} %}

{#{% do view.registerAssetBundle("percipiolondon\\attendees\\assetbundles\\craftattendees\\AttendeesAsset") %}#}
{#{% do view.registerAssetBundle("percipiolondon\\craftattendees\\assetbundles\\dataexportcpsection\\DataExportCPSectionAsset") %}#}

{# Link for the ? icon at the bottom of the page #}
{% set docsUrl = "https://github.com/percipioglobal/craft-attendees/blob/master/README.md" %}

{# The title of this CP section #}
{% set title = "Export" %}

{%- set permittedSites = [] %}

{% for site in craft.app.sites.getAllSites() %}
    {%- set permitted = currentUser.can('editSite:'~site.uid) -%}

    {%- if permitted -%}
        {% set permittedSites = permittedSites|merge([site]) %}
    {% endif %}
{% endfor %}

{% set selectedSite = craft.app.request.getQueryParam('site')|default(permittedSites[0].id ?? '*') %}

{# The URL to this plugin's base CP section #}
{% set pluginCpUrl = url('craft-attendees') %}

{# Get a URL to an image in our AssetBundle #}
{#{% set iconUrl = view.getAssetManager().getPublishedUrl('@percipiolondon/craftattendees/assetbundles/dataexportcpsection/dist', true) ~ '/img/DataExport-icon.svg' %}#}

{% set subnav = {
    "dashboard": { label: "Dashboard"|t('craft-attendees'), url: url(pluginCpUrl ~ '/dashboard') },
    "trainings": { label: "Trainings"|t('craft-attendees'), url: url(pluginCpUrl ~ '/trainings') },
    "export": { label: "Export"|t('craft-attendees'), url: url(pluginCpUrl ~ '/export') },

} %}
{% set selectedSubnavItem = 'export' %}

{% set crumbs = [
    { label: "craft-attendees", url: url(pluginCpUrl) },
    { label: "Export"|t('craft-attendees'), url: url(pluginCpUrl ~ '/export') },
] %}

{# Content that should appear in the page header#}
{% block actionButton %}
    {%- include "craft-attendees/_includes/sites-menu.twig" with {
        baseUrl: pluginCpUrl ~ '/export',
        parameter: 'id'
    } -%}
{% endblock %}

{# The content of the CP Section#}
{% set content %}
    {{ craft.viteattendees.register('/src/js/export.ts', false, scriptTagOptions) }}

    <div id="export">
        {#    https://github.com/yii2tech/csv-grid#}
        <h2 class="pt-4">{{ "Export data from the trainings"|t('craft-attendees') }}</h2>

        <form-export
            csrf="{{ craft.app.request.csrfToken }}"
            site="{{ selectedSite == '2' ? '*' : selectedSite }}"
        ></form-export>

    </div>
{% endset %}
