{%- set permittedSites = [] %}

{% for site in craft.app.sites.getAllSites() %}
    {%- set permitted = currentUser.can('editSite:'~site.uid) -%}

    {%- if permitted -%}
        {% set permittedSites = permittedSites|merge([site]) %}
    {% endif %}
{% endfor %}

{% set parameter = parameter|default('slug') %}
{% set selectedSite = craft.app.request.getQueryParam('site')|default(parameter == 'slug' ? permittedSites[0].handle ?? '*' : permittedSites[0].id ?? '2') %}
{% set selectedSiteObj = parameter == 'slug' ? craft.app.getSites().getSiteByHandle(selectedSite) : craft.app.getSites().getSiteById(selectedSite) %}

{% if not currentUser.can('editSite:'~(selectedSiteObj.uid ?? '*')) %}
    {% redirect url('craft-attendees/four-o-three') %}
{% endif %}

<div id="sites-btn" class="btn menubtn" data-icon="world">{{ selectedSiteObj.name }}</div>
<div class="menu">
    <ul class="padded">
        {% for site in permittedSites %}
            {%- set siteEnabled = site.enabled ?? null -%}
            {% set url = baseUrl ~ '?site=' ~ (parameter == 'slug' ? site.handle : site.id) %}
            <li>
                <a href="{{ url }}" title="{{ site.handle }}">
                    <div class="status {% if siteEnabled %}enabled{%  endif %}"></div>{{ site.name }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>
